
.chat-bar{
    position: relative;
    padding-top: 10px;
}
.add-icon-ctn{
    padding-top: 10px;
}

.add-icon{
    width: 30px;
    height: 30px;
    margin-left: 330px;
    padding: 0px;
}
.add-input{
    margin-left: 110px;
    margin-top: 23px;
    padding: 0px;
}


