.div{
    display:block;
    margin: 0;
  }
  body{
    margin: 0;
  }
  .content {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .6)
    } 
    .content ul {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 230px;
      height: 250px;
      padding-top: 10px;
      margin-left: -100px;
      margin-top: -150px;
      background-color: #fff;
      border-radius: 4px;
    }
    .content ul li
    {
      width: 40px;
      height: 20px;
      line-height: 20px;
      padding-top: 0px;
      margin-left: 90px;
      margin-top: 54px;
      background-color: #fff;
      border-radius: 4px;
    }
  
    .close-btn2 {
      position: absolute;
      right: 10px;
      top: 10px;
    }