.ant-carousel .slick-slide {
    text-align: center;
    width:50%;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color:#fff;
  }
  .content_left_carousel{
    width:85%;
  }
.content_left img{
  width: 18%;
  margin-left: 1%; 
}
.submit { 
  border: 1px solid #e0e0e0;
  height:100px;
}
.submitInput{
  float: left;
  width: 50%;
}
.authorContent{
  float: right;
 
}
.commment{
  border-bottom: 1px solid #e0e0e0;
}
.back{
  color:red;
}
.cotent{
  width:1000px;
  overflow: hidden;
  padding:10px;
  border: 1px solid #364d79;
}
.content_right{
    width:35%;  
float:right;
}
.content_left{
  width:65%;  
float:left;
margin-bottom: 30px;
}
.content_left ul li{
  border: 1px solid #364d79;
}




