.ant-carousel .slick-slide {
    text-align: center;
    width:50%;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color:#fff;
  }
  .left{
     width:70%;
  }
  .right{
    width:30%;
 }