.ant-carousel .slick-slide {
    text-align: center;
    width:50%;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color:#fff;
  }
  .content_left{
    width:60%;  
}
.content_left img{
  width: 18%;
  margin-left: 1%; 
}
.submit { 
  border: 1px solid #e0e0e0;
  height:100px;
}
.submitInput{
  float: left;
  width: 80%;
}
.authorContent{
  float: right;
 
}
.content_right{
  width:36%;  
 margin-top: -210%;
  margin-left: 40%; 
}
.content_left1{
  width:60%;  
}
.content_right1{
  width:30%;  
 margin-top: -100%;
  margin-left: 60%; 
}
/* .Time{
  float: right;
} */
.commment{
  border-bottom: 1px solid #e0e0e0;
}
.back{
  color:red;
}
