body {
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  h2 {
    margin: 0;
  }
  h4 {
    margin-left: 10px;
    line-height: 0px;
  
  }
  .chat-bar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height:40px;
    margin-top: 0px;
    background-color: #aaa;
    border-top: 1px solid #eee;
  }
  .chat-bar__title {
    float: left;
    font-size: 15px;
  }
  .chat-bar-search {
    width: 30px;
    height: 30px;
    margin-left:auto;
  }
  .chat-bar-add {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  
  .chat-list {
    padding-left: 10px;
    border-bottom: 1px solid #eee;
  }
  .chat-list__item {
    display: flex;
    padding: 10px;
    margin-top: 45px;
    padding-left: 0;
    border-top: 1px solid #eee;
  }
  /*.chat-list__item::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #eee;
    transform: scaleY(0.5);
  }*/
  .chat-list__item__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .chat-list__item__content {
    flex: 1;
  }
  .chat-list__item__content__topBar {
    overflow: hidden;
    line-height: 32px;
  }
  .chat-list__item__content__title {
    float: left;
    font-size: 16px;
  }
  .chat-list__item__content__time {
    float: right;
    font-size: 12px;
    color: #aaa;
  }
  .chat-list__item__content__recentMsg {
    font-size: 14px;
    color: #aaa;
  }
  .chat-list__item__content__more {
    font-size: 14px;
    color: #aaa;
    float:right;
  }
  
  
  .chat-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #eee;
  }
  .chat-nav__item {
    flex: 1;
    padding: 5px;
    text-align: center;
  }
  .chat-nav__item__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .chat-nav__item__name {
    font-size: 12px;
    color: #aaa;
  }
  .moreDelete{
    margin-top: 20px;
  }
  .moreDelete button{
    width: 20%;
    height: 20px;
    margin-left: 20px;
  }
  
.dialog-ctn{
    line-height: 2px;
    flex-direction: column;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6)
} 
.content ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 250px;
  padding-top: 10px;
  margin-left: -100px;
  margin-top: -150px;
  background-color: #fff;
  border-radius: 4px;
}
.content ul li
{
  width: 50px;
  height: 20px;
  line-height: 20px;
  padding-top: 0px;
  margin-left: 90px;
  margin-top: 40wpx;
  background-color: #fff;
  border-radius: 4px;
}
.close-btn2 {
  position: absolute;
  right: 10px;
  top: 10px;
}
.mask-ctn {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6)
}
.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}

.dialog-ctn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 280px;
  padding-top: 10px;
  margin-left: -100px;
  margin-top: -150px;
  background-color: #fff;
  border-radius: 4px;
}
.item
{
  width: -1px;
  height: 20px;
  margin-left: 4px;
  margin-top: 27px;
  background-color: #fff;
  border-radius: 4px;
}
.submit-btn{
  position: absolute;
  right: 130px;
  top: 185px;
  color: #fff;
}
.close-btn1 {
  position: absolute;
  right: 30px;
  top: 185px;
  color: #fff;
}




