.header{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.right{
    margin-left: 5%;
    margin-top: 20px;
    width:15%;
    margin-top: 20px;
    float: right;

}
.Avatar{
    width: 80px;
    height:80px;
    line-height: 80px;
    margin-right: 10px;
}
.left1{
  width:60%;
  float:left;
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  list-style-type: none;  
}
.left1 ul li{
    display:inline;
    flex-wrap: wrap;
    margin-left: 200px;
}
.left2{
    width:30%;
    float:left;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width:50%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
.submit{
    height: 25px;
    line-height: 25px;
    float: left;
    position: relative;
    margin-left: 200px;
    margin-top: -25px;
}


