ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer{
    position: fixed;
    border-top:  1px solid #ddd;
    width: 100%;
    height: 60px;
    bottom: -1px;               /*hack*/
    background-color: #fff;
  }
  ul.tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }
  li.tab_item{
    flex: 1;
    text-align: center;
  }
.red-spot-tab{
    color: red;
}
.blue-spot-tab{
    color: blue;
}
.yellow-spot-tab{
    color: yellow;
}
.orange-spot-tab{
    color: orange;
}
