.App {
  text-align: center;
}

body{
  padding: 0%;
  margin:0 auto;

}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav{position: fixed;
        display: flex;
        width: 100%;
        background-color:#aaa;
        border-bottom: 1px solid #ffffff;}
 .nav-img{ width: 30px;
          height: 30px;
          margin-top: 20px;
          margin-left: 250px;}
.mid{
  padding-left: 10px;
  padding-top: 40px;
  border-bottom: 1px solid #eee;
overflow: auto;}
  .mid ul{
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
         
  }
  .mid ul li{
          display: flex;
          justify-content: flex-end;
          list-style-position: initial;
          flex: auto; 
          border-bottom:1px solid #aaa;
  }
  .mid1{ display: flex;
          padding: 10px;
          padding-left: 0;
          border-top: 1px solid #eee;}
  .mid1-img{ width: 60px;
          height: 60px;
          margin-top: 35px;
          margin-right: 10px;}
  .mid1-content{flex: 1;}
  .h2{  margin: 0;}
      .mid1-content-topbar{
          overflow: auto;
          line-height: 32px;
      }
      .mid1-content-title{
          overflow: auto;
          line-height: 32px;
      }
      .mid1-1-time{
          float: right;
          font-size: 12px;
          color: #aaa;
      }
    .mid1-2{ font-size: 14px;
          color: #aaa;}
          .mid2{display: flex;
                  padding: 10px;
                  padding-left: 0;
                  border-top: 1px solid #aaa}
                  
.buttom{  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  border-top: 1px solid #eee;
background-color: antiquewhite; }
  .chat-buttom{ flex: 1;
          padding: 5px;
          text-align: center;}
  .chat-buttom-icon{  display: block;
          width: 40px;
          height: 40px;
          margin: 0 auto;}
          .chat-buttom-name{
                  font-size: 12px;
                  color: #aaa;
          }
.box{
        width: 300px;
        height:200px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .6)
        }
.input{line-height: 10px;
        text-align: center;
        margin-left: 300px;
        border-bottom: 1px solid #aaa;

}



















 .dialog-ctn{
        line-height: 2px;
        flex-direction: column;
}