.list-item{
    height: 55px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding:5px 0;
    line-height: 55px;
}
.list-item-title{
    display: inline-block;
    width: 100px;
    font-size: 22px;
    font-weight: 300;

}
.list-item-colors-list{
    display: inline;
    padding-left: 60px;
    line-height: 55px;
}
.color-item{
    display: inline-block;
    line-height: 55px;

}
.color-item span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.color-item span img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 99;
    /* background-color: #000; */
}
.red-spot{
    background-color: red;
}
.blue-spot{
    background-color: blue;
}
.yellow-spot{
    background-color: yellow;
}
.orange-spot{
    background-color: orange;
}
.black-spot {
    background-color: black;
}
